@mixin rightWingShadowDown {
  transform: translate(0, 0) rotate(19deg);
  clip-path: polygon(0 0, 56% 0, 64% 100%, 0 100%);
  width: 275px;
}

@mixin rightWingShadowUp {
  transform: translate(7px, -36px) rotate(25deg);
  clip-path: polygon(0 0, 52% 0, 67.5% 100%, 0 100%);
  width: 295px;
}


@mixin leftWingShadowDown {
  transform: translate(0, 0) rotate(-19deg);
  clip-path: polygon(46% 0%, 100% 0, 100% 100%, 36% 100%);
  width: 275px;
}

@mixin leftWingShadowUp {
   transform: translate(-7px, -36px) rotate(-25deg);
   clip-path: polygon(48% 0%, 100% 0, 100% 100%, 32.5% 100%);
   width: 295px;
 }