//COLOURS - eggs
$color-white: #ffffff;
$color-black: #000000;
$color-gray-light: #cccccc;
$color-egg-shell: #FBE9E7;
$color-pink: #FFBDE8;
$color-blue: #BDE8FF;
$color-green: #E8FFBD;
$color-orange: #FFE8BD;
$color-violet: #E8BDFF;
$color-pink-dark: #EC407A;

//COLOURS - chicken
$color-chick-yellow-main: #fdce11;
$color-chick-yellow-light: #f8e72c;
$color-chick-eye-dark: #000203;
$color-chick-eye-light: #3e5053;
$color-chick-orange: #f9650f;

//ANIMATIONS:
$eggs-animation-settings: 5s ease-in-out infinite alternate;
$chick-animation-settings: 5s linear 3s infinite alternate;

//SHADOWS:
$shadow-egg: 0 60px 35px rgba($color-black, 0.2);
$shadow-chicken: 0 120px 35px rgba($color-black, 0.15);