.eggs-container {
  display: flex;
}

.egg-wrapper {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    height: 12%;
    border-radius: 50%;
    z-index: -1;
    bottom: 30px;
    box-shadow: $shadow-egg;
  }

  &--1 {
    &:after {
      animation: shadowMoveLeft $eggs-animation-settings;
    }
  }

  &--2 {
    right: 120px;

    &:after {
      animation: shadowMoveRight $eggs-animation-settings;
    }
  }
}
